<div class="header">
    <div class="container header__container">
        <div class="header__title">Todo App</div>
        <div class="header__actions">
            <app-lang-switcher></app-lang-switcher>
            <div class="header__username">{{ user.username }}</div>
            <button mat-stroked-button class="button-logout" (click)="logout()">{{ "logout" | translate }}</button>
            <button mat-icon-button class="logout-mobile" aria-label="Logout" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
    </div>
</div>
