<div class="login">
    <div class="container login__container">
        <h1 class="login__title">{{ "login.title" | translate }}</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form">
            <div class="form-group">
                <input
                    type="text"
                    required
                    formControlName="username"
                    class="form-control common-input"
                    [placeholder]=" 'login.username' | translate "/>
                <div *ngIf="usernameControl.hasError('required')" class="error">{{ "register.name.required" | translate }}</div>
            </div>
            <div class="form-group">
                <input
                    type="password" 
                    required
                    formControlName="password" 
                    class="form-control common-input"
                    [placeholder]=" 'login.password' | translate "/>
                <div class="error">
                    <div *ngIf="passwordControl.hasError('required')">{{ "register.password.required" | translate }}</div>
                    <div *ngIf="passwordControl.hasError('minlength')">{{ "register.password.min.length" | translate }}</div> 
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" 
                    mat-flat-button color="primary"
                    class="big">{{ "login.login" | translate }}</button>
            </div>
            <div *ngIf="error" class="error">{{error}}</div>
            <div class="login__register-link">
                {{ "login.no.account" | translate }} 
                <a class="login__link" routerLink="/register">{{ "login.register" | translate }}</a>
            </div>
        </form>
    </div>
</div>