<div class="todos">
    <div class="container todos__container">
        <div class="title-row">
            <h1 class="title">{{ 'todo.title' | translate }}</h1>
            <button *ngIf="!showForm"
                mat-flat-button
                color="primary"
                (click)="toggleForm()"
                class="add-todo">
                {{ 'todo.add' | translate }}
            </button>
            <button *ngIf="showForm"
                mat-stroked-button
                color="accent"
                (click)="toggleForm()">
                {{ 'todo.cancel' | translate }}
            </button>
        </div>

        <app-todo-form
            *ngIf="showForm"
            (formSubmit)="toggleForm()">
        </app-todo-form>
        <div class="todos__filters" [ngClass]="{clear: filtersObj}">
            <app-search (onSearchChange)="onSearchChange($event)"></app-search>
            <app-filters (onFiltersChange)="onFiltersChange($event)"></app-filters>
        </div>

        <div *ngIf="!loading" class="todos__wrapper">
            <ul *ngIf="todosService.todos.length; else noTodos" class="todos__list">
                <li *ngFor="let todo of todosService.todos | todosFilter: filtersObj | todosSearch: search "
                class="todos__item">
                    <app-todo-item [todo]="todo"></app-todo-item>
                </li>
            </ul>
            <ng-template #noTodos>
                <p class="todos__not-found">{{ 'todo.not.found' | translate }}</p>
            </ng-template>
        </div>
        <p *ngIf="loading" class="loading">{{ 'loading' | translate }}</p>
    </div>
</div>



