@import "_variables.scss";

.common-input {
    padding: 15px 22px 16px;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 4px;
    outline: none;
    font-size: $font-main;
    line-height: 1.5;
    color: $black;
    &::placeholder {
        color: $grey-placeholder-2;
        font-size: $font-main;
    }

    &:focus {
        border-color: $border-focus;
    }

    &:disabled {
        border-color: $border-disabled;
        background-color: $input-disabled;
        color: $placeholder-disabled;
        &::placeholder {
            color: $placeholder-disabled;
        }
    }

    &.error {
        border-color: $border-error;
    }

    &.common-input-fullwidth {
        width: 100%;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    .label {
        font-weight: 500;
        font-size: $font-small;
        color: $placeholder-disabled;
        margin-bottom: 6px;
    }

    .form-control {
        width: 100%;
    }

    .invalid-feedback {
        color: $error;
        font-size: $font-small;
    }
}