// Colors
$black: #000000;
$white: #ffffff;

$accent-blue: #4d99ff;
$hover-blue: #468ef0;
$accent-green: #00c853;
$hover-green: #20d76c;
$accent-red: #ff7272;
$hover-red: #f66e6e;
$error: #fd0000;

$grey-main: #70708f;
$grey-disabled: #c1c1d1;
$grey-placeholder: #999999;
$grey-1: #888888;
$grey-2: #b2b2b2;
$grey-3: #555555;
$grey-4: #b0b0c4;

// Backgrounds colors
$grey-background: #f2f2f8;

// Font sizes
$font-extra-small: 12px;
$font-small: 13px;
$font-main: 14px;
$font-middle: 16px;
$font-large: 18px;
$font-extra-large: 20px;
$font-subheading: 22px;
$font-heading: 36px;

// Shadows
$shadow-small: 0 0 4px 0 rgba(0, 0, 0, 0.21);
$shadow-middle: 0 0 10px 0 rgba(0, 0, 0, 0.2);

