<div>
    <input
        type="text"
        placeholder="Enter Todo..."
        [(ngModel)]="title"
        (keydown.enter)="addTodo()"
        >
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
    <mat-checkbox class="example-margin">Checked</mat-checkbox>

    <button mat-button color="primary">Primary</button>
    <button (click)="addTodo()" class="button primary">Add todo</button>
</div>
