@import 'variables';

.todo-page {
    padding: 40px 0;
    background-color: $grey-background;
    min-height: calc(100vh - 60px - 138px);
}

.todo {
    margin: 20px 0;

    &__title-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__title {
        color: $black;
        font-size: $font-extra-large;
    }

    &__description {
        font-size: $font-main;
    }

    &__actions {
        margin-top: 20px;
        button {
            margin-right: 20px;
        }
    }
}

.back {
    margin-bottom: 25px;
    color: $grey-main;
    display: inline-block;
    
    &:hover {
        color: $accent-blue;
    }
}