
<div class="register">
    <div class="container register__container">
        <h1 class="register__title">{{ "register.title" | translate }}</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register__form">
            <div class="form-group">
                <input
                    type="email"
                    formControlName="email"
                    class="form-control common-input"
                    [placeholder]=" 'register.email' | translate "/>
                <div class="error">
                    <div *ngIf="emailControl.hasError('required')">{{ "register.email.required" | translate }}</div>
                    <div *ngIf="emailControl.hasError('pattern')">{{ "register.invalid.email" | translate }}</div>
                </div>
            </div>
            <div class="form-group">
                <input
                    type="text"
                    formControlName="username"
                    class="form-control common-input"
                    [placeholder]=" 'register.name' | translate "/>
                <div *ngIf="usernameControl.hasError('required')" class="error">{{ "register.name.required" | translate }}</div>
            </div>
            <div class="form-group">
                <input
                    type="password"
                    formControlName="password"
                    class="form-control common-input"
                    [placeholder]=" 'register.password' | translate "/>
                <div class="error">
                    <div *ngIf="passwordControl.hasError('required')">{{ "register.password.required" | translate }}</div>
                    <div *ngIf="passwordControl.hasError('minlength')">{{ "register.password.min.length" | translate }}</div>
                </div>
            </div>
            <div class="form-group">
                <input
                    type="password"
                    formControlName="confirmPassword"
                    class="form-control common-input"
                    [placeholder]=" 'register.password.confirm' | translate "/>
                <div class="error">
                    <div *ngIf="passwordConfirmControl.hasError('required')">{{ "register.password.confirm.required" | translate }}</div>
                    <div *ngIf="passwordConfirmControl.hasError('mustMatch')">{{ "register.must.match" | translate }}</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading"
                    mat-flat-button
                    color="primary"
                    class="big">{{ "register.register" | translate }}</button>
            </div>
            <div *ngIf="error" class="error">{{error}}</div>
            <div class="register__login-link">
                {{ "register.have.account" | translate }}
                <a class="register__link" routerLink="/login">{{ "register.login" | translate }}</a>
            </div>
        </form>
    </div>
</div>
